*{font-family: sans-serif;}
body{
	background-color: rgb(32,32,32);
	color: white;
}
.notice{
	text-align:center;
	color: red;
}
.notice h2{
	font-weight: normal;
	font-size: 21px;
}
.lastupdate{
	position: fixed;
	top: 5px;
	left: 5px;
	background-color: rgba(0,0,0,1);
	border-radius: 2px;
	padding: 3px;
}
a{
	color: #33A8FF;
}
a:hover{
	color:#fff;
}
.content{
	padding-top:15px;
}
.date{
	border-top: 1px dotted white;
	font-size: 24px;
}